#invoiceBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#generateInvoiceBtn:hover {
    background-color: #45a049;
}
